# Prevent from specific files to upload to github
# API code
secretApi.py

# logging files
.cometml-runs
__pycache__
checkpoint/*

venv/*
data/*.csv
weights/*
private.py

# Other
*.pdf
*.pyc
# Ignore PNG files in the main folder
/*.png

# But don't ignore PNG files in subfolders
!/**/*.png